<div class="dboard-filter-controls d-lg-flex align-items-lg-center  justify-content-md-between well p-2 mb-4">
  <div class="dboard-filter-controls__section" role="group">
    <span class="small hide-large mt-2 mb-1">Period</span>
    <%= link_to "Year", url_for(request.query_parameters.merge(range: 'year', year: Time.current.year, month: nil)), class: "btn btn-link #{'active' if @range == 'year'}" %>
    <%= link_to "Month", url_for(request.query_parameters.merge(range: 'month', year: Time.current.year, month: Time.current.month)), class: "btn btn-link #{'active' if @range == 'month'}" %>
  </div>
  <div class="dboard-filter-controls__comparison">
    <div class="dboard-filter-controls__section">
      <span class="small mt-3 mt-lg-0 mb-1 mb-lg-0">Comparing</span>
      <button class="btn btn-link btn-link--d dropdown-toggle" type="button" id="periodDropdown" data-bs-toggle="dropdown" aria-expanded="false">
        August
      </button>
      <button class="btn btn-link dropdown-toggle" type="button" id="periodDropdown" data-bs-toggle="dropdown" aria-expanded="false">
        2025
      </button>
    </div>
    <div class="dboard-filter-controls__section">
      <span class="small mt-3 mt-lg-0 mb-1 mb-lg-0">with</span>
      <button class="btn btn-link dropdown-toggle" type="button" id="periodDropdown" data-bs-toggle="dropdown" aria-expanded="false">
        August
      </button>
      <button class="btn btn-link dropdown-toggle" type="button" id="periodDropdown" data-bs-toggle="dropdown" aria-expanded="false">
        2023
      </button>
    </div>
  </div>
</div>

<div class="dboard-filter-controls d-lg-flex align-items-lg-center  justify-content-md-between well p-2 mb-4">
  <div class="dboard-filter-controls__section" role="group">
    <span class="small hide-large mt-2 mb-1">Period</span>
    <%= link_to "Year", url_for(request.query_parameters.merge(range: 'year', year: Time.current.year, month: nil)), class: "btn btn-link #{'active' if @range == 'year'}" %>
    <%= link_to "Month", url_for(request.query_parameters.merge(range: 'month', year: Time.current.year, month: Time.current.month)), class: "btn btn-link #{'active' if @range == 'month'}" %>
  </div>
  <div class="dboard-filter-controls__comparison">
    <div class="dboard-filter-controls__section">
      <span class="small mt-3 mt-lg-0 mb-1 mb-lg-0">Comparing</span>
      
      <button class="btn btn-link dropdown-toggle" type="button" id="periodDropdown" data-bs-toggle="dropdown" aria-expanded="false">
        2025
      </button>
    </div>
    <div class="dboard-filter-controls__section">
      <span class="small mt-3 mt-lg-0 mb-1 mb-lg-0">with</span>
      
      <button class="btn btn-link dropdown-toggle" type="button" id="periodDropdown" data-bs-toggle="dropdown" aria-expanded="false">
        2023
      </button>
    </div>
  </div>
</div>