<% @meta_title = "#{@collection}" %>
<% @meta_description = "Syncing #{@collection}" %>

<%= render 'collection_header' %>
<div class="container">

  <div class="well p-4">
    <h1><%= bootstrap_icon 'arrow-down-up',
    width: 36, height: 36, aria_hidden: 'true', focusable: 'false', role: 'img',  title: 'Last synced', class: 'flex-shrink-0 me-3'
    %>Syncing data</h1>

    <p>Currently syncing this collection. This may take a few minutes.<p>
  </div>

</div>