<% @meta_title = "Projects" %>
<% @meta_description = "Project dashboards" %>

<div class="container">
  <div class="well p-4 my-5">
    <div class="col-lg-10 container text-center">
      <%= button_to "Sign in with GitHub", "/auth/github", method: :post, class: 'btn btn-primary', data: { turbo: false } %>      
    </div>
  </div>
</div>

