---
http_interactions:
- request:
    method: get
    uri: https://repos.ecosyste.ms/api/v1/repositories/lookup?url=https://github.com/rails/rails
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Source:
      - dashboard.ecosyste.ms
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8dc30bc1e21f696054310b9cf69ccafa"
      Last-Modified:
      - Wed, 23 Jul 2025 05:25:26 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"id":390886,"uuid":"8514","full_name":"rails/rails","owner":"rails","description":"Ruby
        on Rails","archived":false,"fork":false,"pushed_at":"2025-07-22T23:56:07.000Z","size":266830,"stargazers_count":57171,"open_issues_count":1315,"forks_count":21891,"subscribers_count":2312,"default_branch":"main","last_synced_at":"2025-07-23T06:44:37.037Z","etag":null,"topics":["activejob","activerecord","framework","html","mvc","rails","ruby"],"latest_commit_sha":null,"homepage":"https://rubyonrails.org","language":"Ruby","has_issues":true,"has_wiki":null,"has_pages":null,"mirror_url":null,"source_name":null,"license":"mit","status":null,"scm":"git","pull_requests_enabled":true,"icon_url":"https://github.com/rails.png","metadata":{"files":{"readme":"README.md","changelog":null,"contributing":"CONTRIBUTING.md","funding":null,"license":"MIT-LICENSE","code_of_conduct":"CODE_OF_CONDUCT.md","threat_model":null,"audit":null,"citation":null,"codeowners":".github/CODEOWNERS","security":".github/security.md","support":null,"governance":null,"roadmap":null,"authors":null,"dei":null,"publiccode":null,"codemeta":null,"zenodo":null}},"created_at":"2008-04-11T02:19:47.000Z","updated_at":"2025-07-23T05:25:26.000Z","dependencies_parsed_at":"2024-02-04T10:23:48.595Z","dependency_job_id":"76bea4fd-bd22-40af-b9bb-10ebcdcbd69d","html_url":"https://github.com/rails/rails","commit_stats":{"total_commits":70043,"total_committers":6052,"mean_commits":"11.573529411764707","dds":0.9368816298559456,"last_synced_commit":"be9aa73dd72f1097be5d45a58d7912447a266bd1"},"previous_names":[],"tags_count":572,"template":false,"template_full_name":null,"purl":"pkg:github/rails/rails","repository_url":"https://repos.ecosyste.ms/api/v1/hosts/GitHub/repositories/rails%2Frails","tags_url":"https://repos.ecosyste.ms/api/v1/hosts/GitHub/repositories/rails%2Frails/tags","releases_url":"https://repos.ecosyste.ms/api/v1/hosts/GitHub/repositories/rails%2Frails/releases","manifests_url":"https://repos.ecosyste.ms/api/v1/hosts/GitHub/repositories/rails%2Frails/manifests","owner_url":"https://repos.ecosyste.ms/api/v1/hosts/GitHub/owners/rails","download_url":"https://codeload.github.com/rails/rails/tar.gz/refs/heads/main","sbom_url":"https://repos.ecosyste.ms/api/v1/hosts/GitHub/repositories/rails%2Frails/sbom","host":{"name":"GitHub","url":"https://github.com","kind":"github","repositories_count":266960177,"owners_count":24012634,"icon_url":"https://github.com/github.png","version":null,"created_at":"2022-05-30T11:31:42.601Z","updated_at":"2022-07-04T15:15:14.044Z","status":"online","status_checked_at":"2025-07-25T02:00:09.625Z","response_time":70,"last_error":null,"robots_txt_status":"success","robots_txt_updated_at":"2025-07-24T06:49:26.215Z","robots_txt_url":"https://github.com/robots.txt","online":true,"can_crawl_api":true,"host_url":"https://repos.ecosyste.ms/api/v1/hosts/GitHub","repositories_url":"https://repos.ecosyste.ms/api/v1/hosts/GitHub/repositories","repository_names_url":"https://repos.ecosyste.ms/api/v1/hosts/GitHub/repository_names","owners_url":"https://repos.ecosyste.ms/api/v1/hosts/GitHub/owners"}}'
  recorded_at: Mon, 28 Jul 2025 11:32:43 GMT
recorded_with: VCR 6.3.1
