---
http_interactions:
- request:
    method: get
    uri: https://commits.ecosyste.ms/api/v1/repositories/lookup?url=https://github.com/rails/rails
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"commits_url":"https://commits.ecosyste.ms/api/v1/hosts/GitHub/repositories/rails%2Frails/commits"}'
  recorded_at: Mon, 28 Jul 2025 13:25:08 GMT
- request:
    method: get
    uri: https://commits.ecosyste.ms/api/v1/hosts/GitHub/repositories/rails%2Frails/commits?page=1&per_page=1000&sort=timestamp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"sha":"abc123","message":"Test commit","stats":{"additions":10,"deletions":5,"files_changed":3}}]'
  recorded_at: Mon, 28 Jul 2025 13:25:08 GMT
- request:
    method: get
    uri: https://commits.ecosyste.ms/api/v1/hosts/GitHub/repositories/rails%2Frails/commits?page=2&per_page=1000&sort=timestamp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[]'
  recorded_at: Mon, 28 Jul 2025 13:25:08 GMT
recorded_with: VCR 6.3.1