---
http_interactions:
- request:
    method: get
    uri: https://issues.ecosyste.ms/api/v1/repositories/lookup?priority=true&url=https://github.com/rails/rails
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://issues.ecosyste.ms/api/v1/hosts/GitHub/repositories/rails%2Frails
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Mon, 28 Jul 2025 14:11:45 GMT
- request:
    method: get
    uri: https://issues.ecosyste.ms/api/v1/hosts/GitHub/repositories/rails%2Frails
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"00994fbdfaf99b8f891a9807f58e5eb9"
      Last-Modified:
      - Mon, 28 Jul 2025 06:34:22 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"full_name":"rails/rails","html_url":"https://github.com/rails/rails","last_synced_at":"2025-07-28T06:34:22.230Z","status":"error","issues_count":2200,"pull_requests_count":5089,"avg_time_to_close_issue":9526606.501118569,"avg_time_to_close_pull_request":3745372.838907207,"issues_closed_count":1762,"pull_requests_closed_count":4243,"pull_request_authors_count":1347,"issue_authors_count":1531,"avg_comments_per_issue":5.355,"avg_comments_per_pull_request":2.3865199449793675,"merged_pull_requests_count":3279,"bot_issues_count":0,"bot_pull_requests_count":0,"past_year_issues_count":774,"past_year_pull_requests_count":2050,"past_year_avg_time_to_close_issue":1735372.546178344,"past_year_avg_time_to_close_pull_request":529159.3280047366,"past_year_issues_closed_count":622,"past_year_pull_requests_closed_count":1688,"past_year_pull_request_authors_count":691,"past_year_issue_authors_count":606,"past_year_avg_comments_per_issue":3.0645994832041343,"past_year_avg_comments_per_pull_request":1.56,"past_year_bot_issues_count":0,"past_year_bot_pull_requests_count":0,"past_year_merged_pull_requests_count":1340,"created_at":"2023-05-12T07:20:28.318Z","updated_at":"2025-07-28T06:34:22.230Z","repository_url":"https://issues.ecosyste.ms/api/v1/hosts/GitHub/repositories/rails%2Frails","issues_url":"https://issues.ecosyste.ms/api/v1/hosts/GitHub/repositories/rails%2Frails/issues","issue_labels_count":{"activerecord":506,"attached
        PR":305,"stale":288,"With reproduction steps":259,"actionpack":93,"activestorage":83,"railties":70,"docs":65,"more-information-needed":59,"activesupport":58,"actionview":51,"pinned":41,"ci
        issues":39,"third party issue":35,"PostgreSQL":31,"good first issue":28,"activejob":22,"regression":20,"encryption":17,"actioncable":16,"actiontext":14,"needs
        feedback":12,"actionmailer":12,"activemodel":9,"MySQL":7,"routing":5,"needs
        work":5,"SQLite":5,"asset pipeline":4,"autoloading":4,"rails foundation":3,"security":3,"engines":3,"i18n":2,"enum":1,"rails-ujs":1,"actionmailbox":1,"parallel
        testing":1,"onhold":1},"pull_request_labels_count":{"activerecord":1665,"docs":1220,"railties":1088,"activesupport":574,"actionpack":568,"actionview":337,"activestorage":262,"activemodel":225,"activejob":170,"actiontext":160,"ready":142,"actioncable":122,"actionmailbox":89,"actionmailer":89,"rails
        foundation":50,"needs feedback":39,"stale":31,"needs backport":24,"needs work":18,"ci
        issues":16,"PostgreSQL":13,"pinned":8,"accepted":6,"need rebase":6,"security":3,"rejected":3,"MySQL":3,"more-information-needed":2,"rails-ujs":2,"encryption":1,"regression":1,"i18n":1},"issue_author_associations_count":{"NONE":1367,"CONTRIBUTOR":694,"MEMBER":139},"pull_request_author_associations_count":{"CONTRIBUTOR":2832,"MEMBER":1727,"NONE":530},"issue_authors":{"yahonda":41,"dhh":36,"Earlopain":16,"joshuay03":16,"ghiculescu":14,"voxik":13,"castonclare":10,"rafaelfranca":9,"overtube":8,"jeromedalbert":8,"nhorton":8,"raoehtesham03":7,"jarl-dk":7,"searls":7,"ioquatix":7,"loqimean":7,"luizkowalski":6,"ruyrocha":6,"maximerety":6,"jcoyne":6,"sobrinho":6,"dari-us":6,"zzak":6,"northeastprince":5,"rosa":5,"dvodvo":5,"tim-semba":5,"mattbrictson":5,"collimarco":5,"rubys":5,"seanpdoyle":5,"james-em":5,"woto":5,"ccasabona":5,"skipkayhil":5,"dorianmarie":5,"nleo":5,"fxn":5,"Uaitt":5,"OskarEichler":5,"tomhughes":5,"janko":5,"jagthedrummer":5,"jprosevear":4,"morgoth":4,"djmb":4,"DanielHeath":4,"bensheldon":4,"fredwillmore":4,"wata727":4,"adamzapasnik":4,"shouichi":4,"maniSHarma7575":4,"georgeclaghorn":4,"jrochkind":4,"matthee":4,"chmich":4,"viralpraxis":4,"runephilosof-abtion":4,"fragkakis":4,"r7kamura":4,"alexandergitter":4,"jackozi":4,"yskkin":4,"mroach":4,"GitToTheHub":4,"Juan5212":4,"nickjj":4,"jdelStrother":4,"brendon":3,"iberianpig":3,"ankur1708":3,"alanoliveira":3,"koenhandekyn":3,"wlipa":3,"akicho8":3,"iamradioactive":3,"alec-c4":3,"chaadow":3,"wdiechmann":3,"akirataguchi115":3,"dan-jensen":3,"jonas-jasas":3,"jasonkim":3,"palexvs":3,"semaperepelitsa":3,"MatheusRich":3,"such":3,"lavoiesl":3,"fschwahn":3,"tf":3,"igorkasyanchuk":3,"feliperaul":3,"sebyx07":3,"Roguelazer":3,"Fjan":3,"schneems":3,"mrj":3,"jenshenny":3,"agrobbin":3,"stanhu":3,"sambostock":3,"hoffmanilya":3,"KirtashW17":3,"ahukkanen":3,"maxfelsher":3,"Vagab":3,"robbevp":3,"krschacht":3,"javierav":3,"afn":3,"salex":3,"john-999":3,"Slotos":3,"BuonOmo":3,"bradgessler":3,"ajvondrak":3,"nvasilevski":3,"stingrayzboy":3,"zarqman":3,"krororo":3,"dorianmariecom":3,"bogdan":3,"rafaelsouza":3,"jean-francois-labbe":3,"quasimik":2,"alexandreruban":2,"iagopiimenta":2,"vsppedro":2,"jason-hobbs":2,"RailsCod3rFuture":2,"ukolovda":2,"sfnelson":2,"cguess":2,"Viktor-Ivliev":2,"radar":2,"heka1024":2,"jasonperrone":2,"taketo1113":2,"StanlyShauro":2,"matiassalles99":2,"richardboehme":2,"grosser":2,"kapso":2,"maxim":2,"pospieszynski":2,"josegomezr":2,"ransombriggs":2,"kehra":2,"Aqualon":2,"tevvi":2,"gregorbg":2,"hlascelles":2,"juanxcerv":2,"JasonBarnabe":2,"fractaledmind":2,"mohits":2,"KJTsanaktsidis":2,"sato11":2,"Hugo-Hache":2,"ghost":2,"JohnNewbold":2,"terracatta":2,"mamirad":2,"neilvcarvalho":2,"AbdulWahab552":2,"nicoco007":2,"viktorianer":2,"St4niuu":2,"tagliala":2,"aveedibya":2,"allisonphillips":2,"xeron":2,"daqing":2,"marvinthepa":2,"percysnoodle":2,"johnnyshields":2,"TheAssailant":2,"guillaumebriday":2,"jherdman":2,"jscheid":2,"sj26":2,"airblade":2,"shamas-":2,"kieraneglin":2,"davidstosik":2,"inkstak":2,"aandrieu":2,"tttffff":2,"daniel-casey":2,"maxrosecollins":2,"aaronjensen":2,"callmesangio":2,"etiennebarrie":2,"thedarkside":2,"phamthanhlam":2,"rsamoilov":2,"humphreyja":2,"ttstarck":2,"sshaw":2,"mwala-zm":2,"vtamara":2,"erikbelusic":2,"jeropaul":2,"Bilka2":2,"yk-eta":2,"faqndo97":2,"alex-lx":2,"r-plus":2,"aeroastro":2,"dombesz":2,"hjwylde":2,"zameo94":2,"atstockland":2,"mktktmr":2,"mikerobe":2,"eric-hemasystems":2,"zverok":2,"patrick99e99":2,"sfcgeorge":2,"alpaca-tc":2,"aglushkov":2,"rymai":2,"fguillen":2,"postmodern":2,"segiddins":2,"ConfusedVorlon":2,"yosiat":2,"shrkw":2,"fynsta":2,"modosc":2,"gstokkink":2,"mateigl":2,"aliismayilov":2,"manuelvanrijn":2,"PhilCoggins":2,"davidpiegza":2,"denisahearn":2,"kraig9":2,"kshnurov":2,"bughit":2,"vpereira":2,"Apteryks":2,"4ndv":2,"Linuus":2,"mrsimo":2,"mikepayready":2,"fidalgo":2,"TheNotary":2,"dfritsch":2,"doits":2,"seandilda":2,"goulvench":2,"headius":2,"obie":2,"lighthouse-import":2,"makmic":2,"melefabrizio":2,"fatkodima":2,"dark-panda":2,"tomprats":2,"exseniorastronaut":2,"josh-m-sharpe":2,"Jay0921":2,"arusa":2,"kmooventhan98":2,"kyrofa":2,"kashifcodility":2,"tgentry-bamboo":2,"JunichiIto":2,"willnet":2,"pjpires":2,"beauraF":2,"everton":2,"ivangreene":2,"abaldwin88":2,"mensfeld":2,"marlinpierce":2,"ryanb":2,"tomczak-mateusz":2,"sergioisidoro":2,"rctneil":2,"emilyst":2,"jacquesn":2,"zvkemp":2,"brunto":2,"Mbuckley0":2,"catlee":2,"MSP-Greg":2,"bubiche":2,"radiantshaw":2,"gpallotta":1,"gupt-mudit":1,"jduff":1,"tomekw":1,"dmytro-savochkin":1,"jennifersarahpaul":1,"jiridenteo":1,"uberllama":1,"machty":1,"rbgrouleff":1,"stevenkaras":1,"silent-e":1,"stimlocy":1,"tijn":1,"janklimo":1,"dwightwatson":1,"aravindhbw":1,"silva96":1,"khuston":1,"abinoda":1,"dannyy83":1,"alex-tan":1,"kenichi-sonoda":1,"1021ky":1,"ernsheong":1,"svgr-slth":1,"hurricup":1,"mbodlund":1,"Leee-xx":1,"vs37559":1,"viraptor":1,"wgrrrr":1,"koreanfoodbug":1,"uberjay":1,"natematykiewicz":1,"rogerluo410":1,"nemesit":1,"scottjg":1,"jacobat":1,"barnett":1,"robinator":1,"bblaal":1,"brphelps":1,"DmitryPogrebnoy":1,"zenspider":1,"aurelien-reeves":1,"brodjustice":1,"benjamineskola":1,"dsander":1,"bparanj":1,"fedorzajac":1,"DmytroVasin":1,"srabuini":1,"georgeu2000":1,"smt116":1,"matteoredz":1,"perryn":1,"piotrpietrusewicz":1,"laptopmutia":1,"zw963":1,"profsmucker":1,"sonu1989":1,"ariandanim":1,"jhirn":1,"mauricioszabo":1,"ml4nC3":1,"Georgegriff":1,"husseindaradkah":1,"rabinpoudyal":1,"johnpitchko":1,"vlad-pisanov":1,"lovro-bikic":1,"frostmark":1,"tgaff":1,"WillTaylor22":1,"chrisjeon":1,"markvanlan":1,"AlexandreCamillo":1,"CKolkey":1,"kozy4324":1,"xaviershay":1,"btihen":1,"rehan-akmal":1,"msaio":1,"cveneziani":1,"brunoenten":1,"mikemerritt":1,"dewyze":1,"acoffman":1,"Srijith-Seetharaman":1,"bchellingworth":1,"jgraichen":1,"everythingability":1,"bforma":1,"sebscholl":1,"malavbhavsar":1,"andrewjanssen":1,"HamptonMakes":1,"adriely-dourado":1,"DaniG2k":1,"thomasnemer":1,"guaguasi":1,"jgonera":1,"JordanForeman":1,"CillianMyles":1,"pboling":1,"MaryamBasereh":1,"wwh131":1,"vadviktor":1,"cannikin":1,"gallegosdamian505":1,"lukel97":1,"Bidzik1":1,"rockwellll":1,"LeFnord":1,"jguecaimburu":1,"macfanatic":1,"rally25rs":1,"javinto":1,"yukideluxe":1,"CodingAnarchy":1,"wowinter13":1,"ysteo":1,"engwan":1,"Mth0158":1,"nikita-railsware":1,"Paxa":1,"alexanderholder":1,"Vigneshwar2411":1,"AutoBot38":1,"jm3":1,"thekendalmiller":1,"baarde":1,"shahana-aym":1,"peterb-onramp":1,"YuriPeresPonti":1,"ippachi":1,"andreimaxim":1,"DanielaVelasquez":1,"turgs":1,"MoJeeza":1,"richjdsmith":1,"freesteph":1,"ollieh-m":1,"mvastola":1,"Prith1985":1,"shes50103":1,"mmpeters75":1,"whyczz":1,"tim-gq":1,"rgxcp":1,"StephenVNelson":1,"MrJoy":1,"mikevoets":1,"kwerle":1,"Valued":1,"michaeleconomy":1,"pbernery":1,"Juksefantomet":1,"basiszwo":1,"barnaclebarnes":1,"owen2345":1,"Petercopter":1,"ylecuyer":1,"jaynetics":1,"paratiger":1,"SubandiK":1,"pedrodiogop":1,"rossme":1,"legacy370":1,"ThisIsMissEm":1,"wikimo":1,"thomasdarde":1,"robshep":1,"mohamadzoh":1,"MeterSoft":1,"vrodic":1,"stripedpumpkin":1,"thomasfedb":1,"deissimon":1,"dan003400":1,"jeffblake":1,"mildred":1,"chiaraani":1,"rbroemeling":1,"paul-bonnel-fr":1,"mansakondo":1,"orhantoy":1,"joaovictor-local":1,"henrik":1,"y-yagi":1,"datanoise":1,"sharvy":1,"Buitragox":1,"erados":1,"kv109":1,"dsusviela":1,"Gbeschbacher":1,"ZainIftikhar7vals":1,"trandoanhung1991":1,"mattgibson":1,"YusukeTakeuchi":1,"kemaldemirgil":1,"pozabil":1,"clwy-cn":1,"EverybodyKurts":1,"jason-o-matic":1,"ReneB":1,"DanHetheringtonIL":1,"marco-carini":1,"Cashaca":1,"cirdes":1,"lcreid":1,"bananchill":1,"fandan":1,"huyhuynh-eh":1,"andrewyoo":1,"avivansh":1,"fanantoxa":1,"rmgas1":1,"analucia-t":1,"arikarim":1,"lucaspbordignon":1,"raphaelmatteoni":1,"ngoral":1,"marcoadkins":1,"yagudaev":1,"MattBudz":1,"yshmarov":1,"nicholasdower":1,"schpet":1,"stephannv":1,"gingermusketeer":1,"euglena1215":1,"karantomar-aretove":1,"pond":1,"mitya-murakhouski":1,"amkisko":1,"tombruijn":1,"douglasshuang":1,"kaspernj":1,"marinmeister":1,"Saleh-Salem":1,"uxxman":1,"smtlaissezfaire":1,"deepakmahakale":1,"lflores1961":1,"Buzzkill-McSquare":1,"stxss":1,"schodevio":1,"th7":1,"simonhutchings":1,"zbokostya":1,"cryptogopher":1,"djpate":1,"lvonk":1,"aleksandrlat":1,"serogo":1,"bschrag620":1,"takkanm":1,"scpike":1,"whitemerry":1,"adnjoo":1,"pas256":1,"jackc":1,"weilandia":1,"jgomo3":1,"MSCAU":1,"amarchenkoshopify":1,"vitalinfo":1,"jp524":1,"elondres-mim":1,"kreynolds":1,"sirwolfgang":1,"antemasqued":1,"olbrich":1,"yelvert":1,"iamjwc":1,"quantummarc":1,"gleonet":1,"maths22":1,"armellarcier":1,"katelovescode":1,"GeoffreyOnRails":1,"Martouta":1,"Nicolasvb23":1,"francis-schiavo":1,"schuetzm":1,"maxcal":1,"romaimperator":1,"muramasa64":1,"tejanium":1,"drgcms":1,"nflorentin":1,"krystof-k":1,"lukemcqueen":1,"corsonknowles":1,"robertoplancarte":1,"lukehayes":1,"tungpt173598":1,"sobstel":1,"maxlein":1,"ramimassoud":1,"msxavi":1,"keshavbiswa":1,"hichemfantar":1,"Adarsh6xutz":1,"arthurhess":1,"qquokka":1,"pardeyke":1,"mariochavez":1,"sakai-mf":1,"hron84":1,"Kingtamil2001":1,"mlarraz":1,"fterrazzoni":1,"pean":1,"Verseth":1,"hachi8833":1,"derekprior":1,"omarodeh95":1,"dylan-hoefsloot":1,"ArthurPV":1,"kapcod":1,"joshuapinter":1,"alexeevit":1,"DjPolloSixPack":1,"schovi":1,"b3coded":1,"cvandermeer":1,"andrianarivo":1,"jkastner864":1,"da-development-id":1,"MisterBolt":1,"HashNotAdam":1,"sebasfourn":1,"thebravoman":1,"ADarko22":1,"vishalzambre":1,"htcarr3":1,"TikiTDO":1,"rapito":1,"Roriz":1,"deissim":1,"tbcooney":1,"palkan":1,"mlwyatt":1,"victordesjardins":1,"sunil-sharma":1,"spurnaye":1,"leoplct":1,"ArturT":1,"shafy":1,"JuzerShakir":1,"skyfmmf":1,"Mangara":1,"ToTenMilan":1,"mtsmfm":1,"Leo-U":1,"gilmoreorless":1,"acuster77":1,"yhirano55":1,"thedanbob":1,"hamiltop":1,"yash":1,"net1957":1,"Naventilaten-Source":1,"agborrego92":1,"sebastianludwig":1,"mtnstar":1,"guillermoap":1,"ABDELLANI-Youcef":1,"Paul-Bob":1,"airled":1,"denys-chaikovskyi":1,"navidemad":1,"Ridhwana":1,"FlintOFF":1,"yoshiyoshiharu":1,"thimo":1,"gazayas":1,"GUI":1,"tonytonyjan":1,"elebow":1,"kristoph":1,"safwansm1":1,"JoshCheek":1,"marelons1337":1,"dreyks":1,"kkohrt":1,"mpvosseller":1,"weshatheleopard":1,"kei-s":1,"eileencodes":1,"b-loyola":1,"Masa331":1,"fz-ryanbigg":1,"nikhilbhatt":1,"Adrian-Hirt":1,"pnomolos":1,"RagunovichVlad":1,"mrpasquini":1,"wrmk":1,"GeoSegun":1,"leboshi":1,"robacarp":1,"erikaxel":1,"mdshahidkhan525":1,"baldarn":1,"colmexdev":1,"nhasselmeyer":1,"scottdavis":1,"timoschwarzer":1,"davidhooey":1,"avonderluft":1,"infertux":1,"PeterNotFound114":1,"krebbl":1,"Anshday1":1,"eloyesp":1,"valenciaj":1,"tubsandcans":1,"adeeb1":1,"quynhethereal":1,"indigotechtutorials":1,"bguban":1,"samzhao2008":1,"darkamenosa":1,"blehoux17":1,"sars":1,"damienlethiec":1,"dkniffin":1,"HeppokoNeet":1,"pglombardo":1,"nberrios-ss":1,"AFlowOfCode":1,"hoshi-sano":1,"fbacall":1,"JDrizzy":1,"resistorsoftware":1,"adamflorin":1,"vasilevskykv":1,"SanthoshRam-98":1,"Haelle":1,"Gutodotado24":1,"ajsharp":1,"heaven":1,"jorgemanrubia":1,"javiyu":1,"sameignatovich":1,"gaurish":1,"walski":1,"davidcelis":1,"qx":1,"Godisemo":1,"m7madmagdy":1,"akaspick":1,"augustosamame":1,"rolandasb":1,"tom93":1,"mylesboone":1,"Antronin":1,"masudhossain":1,"matthutchinson":1,"tomykaira":1,"alexsmartens":1,"matthew-healy":1,"Seth-SentrexWind":1,"markedmondson":1,"starkshaw":1,"AnthonyGriffithG":1,"gabo-cs":1,"jdufresne":1,"NobodysNightmare":1,"fabianof":1,"niklas-hasselmeyer":1,"sdcorey":1,"1c7":1,"zavan":1,"golemB":1,"coorasse":1,"astrangedesign":1,"Grigore-George-Mihai":1,"pjambet":1,"jasonfb":1,"zaratan":1,"archonic":1,"TiesWestendorp":1,"adampal":1,"turnergregs":1,"slhck":1,"mkolmar":1,"lioneldebauge":1,"RITHIKSANJEEV-KUMAR":1,"plentz":1,"dechaoqiu":1,"josh-wise-proof":1,"pzac":1,"ykhandelwal913":1,"p8":1,"iamchucky":1,"fwolfst":1,"Vutivi":1,"DaAwesomeP":1,"dbussink":1,"mcfoton":1,"j-manu":1,"gobijan":1,"pjb3":1,"nesrual":1,"Zajn":1,"johnmaxwell":1,"mvn-anhle-hn":1,"bcollierjones":1,"peterberkenbosch":1,"tcannonfodder":1,"ldlgds2":1,"glennsarti":1,"HHRy":1,"schmijos":1,"andrepiske":1,"fosrias":1,"aarona":1,"jvlara":1,"jamesst20":1,"jamesw":1,"siaw23":1,"eduAntequera":1,"ginter":1,"YusukeSuzuki":1,"LItterBoy-GB":1,"tubaxenor":1,"cprodhomme":1,"jubilee2":1,"nathan-appere":1,"ItaloCobains":1,"softr8":1,"sgara":1,"keithlayne":1,"tsrivishnu":1,"celsoMartins":1,"Wayjourney":1,"marikrebega":1,"Subramanian-ERS":1,"chaffeqa":1,"u007":1,"fletchto99":1,"thejonroberts":1,"gr8bit":1,"NickSchimek":1,"caseykim":1,"theobarango":1,"ziggythehamster":1,"grncdr":1,"HoneyryderChuck":1,"nikclayton":1,"kmcphillips":1,"shoffing":1,"n-rodriguez":1,"francesco-loreti":1,"romuloceccon":1,"corrupt952":1,"mr-mig":1,"Signum":1,"sbungartz":1,"aredondo":1,"mikdiet":1,"janie314":1,"tawan":1,"Bodacious":1,"ccutrer":1,"joesiewert":1,"CorySpitzer":1,"brenogazzola":1,"jepotter1-archive":1,"bradrees":1,"severedsea":1,"andrewn617":1,"ryanseys":1,"speamy":1,"vincent-the":1,"rorizkb4":1,"kallisti5":1,"huerlisi":1,"richardmarbach":1,"AlfredjinAndroid":1,"austenmadden":1,"jdescelliers":1,"Joerg-Seitz":1,"stevehill1981":1,"Catsuko":1,"adamdebono":1,"gyfis":1,"conradwt":1,"raphox":1,"cduez":1,"aavina":1,"smitssjors":1,"patleb":1,"modusss":1,"adrianpike":1,"federicomoretti":1,"kaspth":1,"geoffyoungs":1,"riseshia":1,"marckohlbrugge":1,"chadbloomfield":1,"benngarcia":1,"GuilhermeTrivilin":1,"jclemans":1,"SaimonL":1,"chrisbloom7":1,"bgentry":1,"mkasztelnik":1,"ZempTime":1,"DaanVanVugt":1,"gillesbergerp":1,"nadiakane26":1,"pauline-koch":1,"devaniljr":1,"K4sku":1,"bendillinger":1,"Karazum":1,"prog-supdex":1,"kalsan":1,"ademir10":1,"rasheedmhd":1,"sumit-jr":1,"madogiwa0124":1,"pacMakaveli":1,"sweetppro":1,"patvice":1,"josesei":1,"igorkorepanov":1,"jlvallelonga":1,"mlcohen":1,"liaden":1,"RigoOnRails":1,"tjschuck":1,"Peredery":1,"khoan":1,"Rik-de-Kort":1,"Michi441":1,"VSPPedro":1,"morganchristiansson":1,"jwoodrow":1,"Zolotovmega":1,"swistak":1,"seenickcode":1,"ribanez7":1,"matt17r":1,"Michoels":1,"kikonen":1,"mateusnava":1,"piowit":1,"yjukaku":1,"aramprice":1,"ddoherty03":1,"brentkearney":1,"Gadrawingz":1,"xuan-cao-swi":1,"Megz-Mugz":1,"hrithvik123":1,"flsdeveloper":1,"jeroenj":1,"tjjjwxzq":1,"aedwardg":1,"conzett":1,"haroldus-":1,"SpencerMarcu":1,"albertoalmagro":1,"olepalm":1,"scottwater":1,"lloydk":1,"joshfester":1,"rosenfeld":1,"matthewford":1,"adrianthedev":1,"mak-dunkelziffer":1,"alexandre184":1,"MattRogish":1,"haines":1,"yalcin":1,"chbach":1,"dshorthouse":1,"BlazingRockStorm":1,"simmerz":1,"mjankowski":1,"jdlubrano":1,"amilligan":1,"arni1981":1,"Tho85":1,"xSlok":1,"ghazel":1,"fsuchan":1,"Shannarra":1,"aitch-u":1,"tbmetcalfe":1,"jimnanney":1,"AliceLoeser":1,"democlitos":1,"rdimartino":1,"chimpanstache":1,"pbhogan":1,"DogAndCode":1,"plattenschieber":1,"aramgre":1,"baweaver":1,"the-spectator":1,"midtownkc":1,"czan":1,"donnfelker":1,"adamjcooper":1,"n-studio":1,"pyromaniac":1,"midnightmonster":1,"januszm":1,"melisagit":1,"scottohara":1,"memorycancel":1,"zachwalton":1,"nickstanish":1,"matthewtusker":1,"luiscobot":1,"lcoq":1,"mkdynamic":1,"michaelroudnitski":1,"kivanio":1,"JProgrammer":1,"matheuss-kb4":1,"janpeterka":1,"DeVeLo":1,"yash-p-amd":1,"1klap":1,"joeldrapper":1,"bgiobbe":1,"sundling":1,"fthobe":1,"bruno-b-martins":1,"guyzmo":1,"tbalthazar":1,"zhuravel":1,"Mark-ICS":1,"brunnopleffken":1,"ptamarshall":1,"rbclark":1,"stac47":1,"johan-smits":1,"filipegiusti":1,"manasaheggere":1,"msducheminjr":1,"mk-dhia":1,"woutersmeenk":1,"WEI567":1,"pvalena":1,"vaidarnav":1,"nateberkopec":1,"Souravgoswami":1,"Mr0grog":1,"rsdel2007":1,"claracodes":1,"abraham":1,"benlangfeld":1,"troelskn":1,"dentarg":1,"dchacke":1,"avdi":1,"stevepolitodesign":1,"sidot3291":1,"m2wasabi":1,"dbelling":1,"vzelenko":1,"runephilosof":1,"Bongs":1,"majkelcc":1,"yuemori":1,"MustafaZain":1,"opsys-saito":1,"edwinv":1,"drwl":1,"AlessandroMinali":1,"alphabt":1,"dylanfisher":1,"Joe-Degler":1,"ekortright-ewtn":1,"Rockymine8":1,"mices":1,"Suraj-Chandola":1,"sgrif":1,"nile1985":1,"omarzina":1,"lfekson":1,"SamSaffron":1,"faraazahmad":1,"maxwell":1,"igbanam":1,"tsoto111":1,"deXterbed1":1,"ayuto-takasaki-LITALICO":1,"jasonkarns":1,"MathijsK93":1,"lauramosher":1,"huutrieu-eh":1,"h6ah4i":1,"kk-nair":1,"MuhammadRazaAslam":1,"ezekg":1,"stevschmid":1,"scarhand":1,"Yateen00":1,"ejskipper":1,"pdagrawal":1,"sliiser":1,"jaredwindover":1,"aprescott":1,"misheck12":1,"eLod":1,"giovannibonetti":1,"kubatron117":1,"Labern":1,"zben":1,"abepetrillo":1,"urkle":1,"rcpj":1,"eroluysal":1,"lewispb":1,"ayushn21":1,"leejarvis":1,"technicalpickles":1,"ashikajith":1,"ranupratapsingh":1,"victorsmoreira":1,"20ae":1,"helle253":1,"vuadensl":1,"alexrolopez":1,"rishijain":1,"rmosolgo":1,"wahabmangat":1,"zgid123":1,"joao-esteves":1,"m3thom":1,"CarlosCD":1,"eric-christian":1,"chazyches":1,"nbluis":1,"lowercase":1,"manunio":1,"Larochelle":1,"mic-kul":1,"bcowell":1,"jakubkosinski":1,"hannob":1,"mbillard":1,"XXXX100000":1,"Tao-Galasse":1,"takaokouji":1,"leoluchini":1,"kaisbensalah":1,"justpiyoosh":1,"chrisyuska":1,"andreynering":1,"rodrigoargumedo":1,"ryush00":1,"JaysonMandani":1,"rammpeter":1,"tpbowden":1,"khiav223577":1,"NielsKSchjoedt":1,"jarthod":1,"hamlet":1,"timuralp":1,"easydatawarehousing":1,"quixoten":1,"Tikkoneus":1,"gsmetal":1,"jakemiller13":1,"APjh6NA0fXF":1,"alimi":1,"davidcornu":1,"paul-at":1,"DcsMarionDickten":1,"qnighy":1,"mmaier":1,"andyjeffries":1,"OuYangJinTing":1,"SarthakPaandey":1,"AliSepehri":1,"jwright":1,"makoto-atarashi":1,"JESii":1,"shayonj":1,"jquerys7":1,"justindell":1,"peterbecich":1,"chrishulton":1,"urmorae":1,"Bramjetten":1,"Annastacia-dev":1,"reckyy":1,"jyothu":1,"alexander-makarenko":1,"nkokkos":1,"shiranakatta":1,"danmack":1,"eyad-alabadleh":1,"demisx":1,"Hampei":1,"leoarnold":1,"warhammerkid":1,"PedroAugustoRamalhoDuarte":1,"notapatch":1,"nicke":1,"djfpaagman":1,"sanjaysalunkhe-ayla":1,"petru":1,"gregg-platogo":1,"deanpcmad":1,"Gooner91":1,"Mathiezz":1,"arzeh":1,"cdalbergue":1,"elbartoloco":1,"betelgeuse":1,"ooooooo-q":1,"iraszl":1,"volkanunsal":1,"MaxLap":1,"MtnBiker":1,"SzymonJoszko":1,"jessevdp":1,"hasandiwan":1,"tkrober":1,"matti":1,"AnthonySuper":1,"alterisian":1,"santiagomartinez":1,"tomasv":1,"afdev82":1,"nov":1,"GabrielCastro":1,"Muaytie23":1,"valerauko":1,"magni-":1,"Geesu":1,"dpogue":1,"lcampanari":1,"jpwynn":1,"budu":1,"frantisekrokusekpa":1,"seebq":1,"FrancescoK":1,"martinlevesque":1,"Beartech":1,"miguno":1,"thedumbtechguy":1,"courtland":1,"tevulytis":1,"svoop":1,"piloos":1,"aforty":1,"camiloforero":1,"aniketstiwari":1,"kmafeni04":1,"ain":1,"KyFaSt":1,"ducmtran":1,"lzell":1,"Jhonnyr97":1,"Scott3377":1,"vivekjoshi-bluebash":1,"evansalter":1,"tpaulshippy":1,"rahul342":1,"hatai":1,"ro31337":1,"namolnad":1,"kzink":1,"jarosluv":1,"benedikt":1,"heratyian":1,"cIvanrc":1,"tbhi":1,"gregmolnar":1,"k-murakami0609":1,"eizengan":1,"bart-westenenk-bex":1,"kodnin":1,"tgxworld":1,"sarvesh-sankaranarayanan":1,"cseelus":1,"kallesuomala":1,"der-flo":1,"yan-hoose":1,"azhaizhai":1,"eailfly":1,"adrianna-chang-shopify":1,"albus522":1,"ChaosInfinited":1,"longkt90":1,"ralphhaygood":1,"alexshk":1,"htetwunsan":1,"aaditya25052002":1,"vicvega":1,"hovsater":1,"apmiller108":1,"EnotPoloskun":1,"kvokka":1,"Grubba27":1,"SjoerdL":1,"jasonwinn":1,"ayuPar":1,"mnordin":1,"e12e":1,"benk-gc":1,"jrk":1,"blackspace":1,"awlamb":1,"pegasusflyhigh":1,"victorpolko":1,"chrisdebruin":1,"pokonski":1,"adrienpoly":1,"mwilde345":1,"expeehaa":1,"axos88":1,"simonsapiel":1,"FelipeRiveraC":1,"ElliottAYoung":1,"jerometremblay":1,"johannesschobel":1,"sholden":1,"jhottenstein":1,"TravisGM92":1,"pjartarkar-mdsol":1,"kddnewton":1,"mdotvasylenchuk":1,"yin0110":1,"wesley6j":1,"fumihumi":1,"fabriciobonjorno":1,"Lillibugg101":1,"mri-dula":1,"chiperific":1,"huda-kh":1,"nduitz":1,"kimyu92":1,"amy-hs":1,"IngoAlbers":1,"julienbourdeau":1,"terencedignon":1,"m-bucher":1,"strobilomyces":1,"Flixt":1,"arcreative":1,"chrisarcand":1,"sue445":1,"merof-code":1,"DimitriosLisenko":1,"ylansegal":1,"artemas":1,"mikestone14":1,"Amnesthesia":1,"buck4chuka":1,"sampatbadhe":1,"danielwaterworth":1,"codeodor":1,"markijbema":1,"mperham":1,"thomasvanholder":1,"k0va1":1,"rogiervandenberg":1,"brunodccarvalho":1,"srozen":1,"savedario":1,"doconnor-clintel":1,"felixefelip":1,"balbesina":1,"jrz":1,"tenpaiyomi":1,"benstein":1,"mockdeep":1,"t6n":1,"hunchr":1,"timfrazee":1,"ssarunas":1,"Judahmeek":1,"misdoro":1,"Nerdman4U":1,"nicowenterodt":1,"hendrix-7":1,"DORDEL911":1,"frenkel":1,"fffx":1,"larouxn":1,"rspeicher":1,"mkanoor":1,"overdrivemachines":1,"slondr":1,"SteveKhuu":1,"fcbr":1,"franck-nadeau":1,"JesseChavez":1,"donhuvy":1,"Edouard-chin":1,"Chris-Kamau":1,"limjinsun":1,"reid-rigo":1,"kg-currenxie":1,"fenelon":1,"JerrodCarpenter":1,"briu":1,"imaqsood":1,"lucaasscm":1,"shoaib-iqbal":1,"RyanMcCoskrie":1,"brettwgreen":1,"araishikeiwai":1,"pozzer":1,"zahidalik":1,"botofune":1,"pedrorolo":1,"SebouChu":1,"jasnow":1,"duduribeiro":1,"samsondav":1,"LukeClancy":1,"x-yuri":1,"nyikos-zoltan":1,"pynixwang":1,"LamaInPijamas":1,"JeremyC-za":1,"cmoel":1,"noahhaon":1,"c0mrade":1,"sled":1,"Eusebius1920":1,"salhafoudh":1,"robinwhittleton":1,"k-tsuchiya-jp":1,"sharray2918":1,"wbdana":1,"kaoru":1,"davidwessman":1,"ali-hassan-mirzaa":1,"mrcasals":1,"camilova":1,"nazar-hlynskyi-copecart":1,"devsheva":1,"domingo2000":1,"konalegi":1,"jamesoneill997":1,"artursmolin":1,"iyaz-shaikh":1,"naruse666":1,"Szeliga":1,"BarberEngineering":1,"bagedevimo":1,"wakairo":1,"mmontossi":1,"zhangyangyu":1,"taman9333":1,"giorgimeladze":1,"dssjoblom":1,"railsbob":1,"ahasunos":1,"axfcampos":1,"tenderlove":1,"Throne3d":1,"ball-hayden":1,"wdruzkawiecki":1,"dwkoogt":1,"noinkling":1,"BenSandeen":1,"jvillarejo":1,"chunlea":1,"fhoeben":1,"vimalloc":1,"joshleblanc":1,"mintyfresh":1,"eval":1,"anthonator":1,"balvig":1,"klaustopher":1,"robotdana":1,"dlupu":1,"tvongaza":1,"westonganger":1,"ChaelCodes":1,"PedroCastr0":1,"jjb":1,"odina-6s":1,"michael-ujet":1,"ecridge":1,"sinsoku":1,"obregonia1":1,"vovanmozg":1,"jgadbois":1,"coezbek":1,"joelzwarrington":1,"j127":1,"Jeremy-Walton":1,"sergiotapia":1,"jpalermo":1,"ksbek":1,"dannyfallon":1,"lapser":1,"quinn":1,"thornomad":1,"user073":1,"aditya9026":1,"jmarsh24":1,"JohnAnon9771":1,"vill":1,"MadBomber":1,"LukasSkywalker":1,"AkshayGoyal022":1,"loma":1,"kenaniah":1,"yob":1,"LukevanTricht":1,"xamey":1,"hugopassos":1,"anthonylee1994":1,"fribeirof":1,"Benratelade":1,"umbertopeserico":1,"shanecav84":1,"nholden":1,"phbrugnolo":1,"intradayreview":1,"Drillan767":1,"tfader":1,"lorennorman":1,"floriank":1,"george-ayris":1,"Madesupra27":1,"kuwabarahiroshi":1,"PhilippGsell":1},"pull_request_authors":{"fatkodima":217,"zzak":216,"skipkayhil":200,"p8":195,"casperisfine":175,"seanpdoyle":141,"byroot":118,"akhilgkrishnan":114,"yahonda":92,"jonathanhefner":84,"Earlopain":83,"joshuay03":69,"Edouard-chin":61,"nvasilevski":55,"ghiculescu":54,"dhh":51,"andrewn617":49,"kamipo":48,"fxn":43,"rafaelfranca":41,"flavorjones":40,"gmcgibbon":40,"jeromedalbert":37,"hachi8833":35,"jhawthorn":33,"Uaitt":30,"stevepolitodesign":28,"eileencodes":28,"JoeDupuis":25,"tenderlove":22,"adrianna-chang-shopify":22,"matthewd":21,"etiennebarrie":20,"shouichi":20,"bensheldon":20,"fractaledmind":20,"sato11":19,"chaadow":19,"larouxn":18,"justinko":17,"paulreece":17,"djmb":17,"Ridhwana":17,"aidanharan":17,"heka1024":16,"codergeek121":16,"duffuniverse":15,"adityapandit17":15,"ioquatix":14,"lazaronixon":14,"y-yagi":13,"tnir":13,"bhumi1102":13,"st0012":13,"kmcphillips":13,"deepakmahakale":12,"koic":11,"jenshenny":11,"jeremy":11,"excid3":11,"a5-stable":11,"morgoth":11,"JonRowe":11,"composerinteralia":10,"npezza93":10,"ruyrocha":10,"MatheusRich":10,"davidstosik":10,"intrip":10,"jdelStrother":9,"jathayde":9,"tsvallender":9,"martinemde":9,"gregmolnar":9,"ccutrer":9,"dixpac":9,"rubys":9,"maximerety":9,"Schwad":8,"maniSHarma7575":8,"JuanVqz":8,"rosa":8,"Labern":8,"mguan2020":8,"ipc103":7,"dersam":7,"AliSepehri":7,"ngan":7,"jbampton":7,"n-studio":7,"c960657":7,"cjilbert504":7,"alexandreruban":7,"kddnewton":7,"gabriel-amaral":7,"zachasme":6,"viralpraxis":6,"yykamei":6,"natematykiewicz":6,"wakairo":6,"sampatbadhe":6,"anonychun":6,"viktorianer":6,"Jay0921":6,"kabirpathak":6,"aashishpsaini":6,"taketo1113":6,"mattbrictson":6,"jorgemanrubia":6,"aeroastro":6,"ghousemohamed":6,"alpaca-tc":6,"eugeneius":6,"jean-francois-labbe":5,"nisusam":5,"pjambet":5,"schmijos":5,"siaw23":5,"santib":5,"OughtPuts":5,"george-ma":5,"Yuhi-Sato":5,"claudiob":5,"wata727":5,"thehale":5,"westonganger":5,"pixeltrix":5,"mylesboone":5,"willnet":5,"takmar":5,"lovro-bikic":5,"kirs":5,"igor-alexandrov":5,"OuYangJinTing":5,"mjankowski":5,"noahgibbs":5,"djensenius":4,"ksylvest":4,"brunoprietog":4,"wonda-tea-coffee":4,"jdufresne":4,"fsateler":4,"abeidahmed":4,"bogdan":4,"tgwizard":4,"git9087":4,"soartec-lab":4,"kwstannard":4,"shayonj":4,"dorianmarie":4,"northeastprince":4,"cmaruz":4,"dorianmariefr":4,"notapatch":4,"nicholasdower":4,"fresh-eggs":4,"duduribeiro":4,"kazuyainoue0124":4,"RobertChang0722":4,"r7kamura":4,"zakariaf":4,"jjatinggoyal":4,"ezekg":4,"JohnAnon9771":4,"javierav":4,"dustinbrownman":4,"ClearlyClaire":4,"t27duck":4,"amatsuda":4,"nhorton":4,"sikachu":4,"the-spectator":4,"ankurp":4,"andyw8":4,"neilvcarvalho":4,"m-nakamura145":3,"Nerian":3,"ankane":3,"and9000":3,"vipulnsward":3,"abaldwin88":3,"vlado":3,"faqndo97":3,"yawboakye":3,"xiaohui-zhangxh":3,"sbfaulkner":3,"frenkel":3,"JunichiIto":3,"MaxLap":3,"briu":3,"CodingItWrong":3,"okuramasafumi":3,"apoorv1316":3,"goulvench":3,"yedhink":3,"djfpaagman":3,"benedikt":3,"doits":3,"matteeyah":3,"terracatta":3,"tomrossi7":3,"piowit":3,"jjb":3,"iamradioactive":3,"gjtorikian":3,"sinsoku":3,"Flixt":3,"BuonOmo":3,"vinistock":3,"guillaumewrobel":3,"fkmy":3,"tonytonyjan":3,"wildmaples":3,"Mangara":3,"aliismayilov":3,"matthieuprat":3,"mrpasquini":3,"Adrian-Hirt":3,"francktrouillez":3,"nikhilbhatt":3,"joeldrapper":3,"hatsu38":3,"mechanicles":3,"koya1616":3,"technicalpickles":3,"saleh-alhaddad":3,"97jaz":3,"jordan-brough":3,"garrettblehm":3,"ak15":3,"tricknotes":3,"rubyrider":3,"grantbdev":3,"bdewater":3,"ryush00":3,"vsppedro":3,"lsylvester":3,"andyatkinson":3,"ghost":3,"loqimean":3,"patriciomacadden":3,"dwightwatson":3,"afn":3,"psantos10":3,"mechnicov":3,"drjayvee":3,"amomchilov":2,"FrancescoK":2,"dylhack":2,"keshavbiswa":2,"gabrielso":2,"mgriffin":2,"sajadtorkamani":2,"arzezak":2,"kiku1705":2,"SimBed":2,"roharon":2,"907th":2,"louim":2,"KJTsanaktsidis":2,"maciej-ka":2,"brendon":2,"benkoshy":2,"nnc":2,"frederikspang":2,"mikepmunroe":2,"brunodccarvalho":2,"bekicot":2,"kch":2,"mrj":2,"Austio":2,"bryantraywick":2,"HeyNonster":2,"robin850":2,"egg528":2,"abhaynikam":2,"bradgessler":2,"guilleiguaran":2,"pedz":2,"buncis":2,"climatebrad":2,"etmartinkazoo":2,"danielvdao":2,"xamey":2,"segiddins":2
[...]
