---
http_interactions:
- request:
    method: get
    uri: https://repos.ecosyste.ms/api/v1/hosts/GitHub/repositories/rails/rails/tags?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1c3dcbf973e96fdac50195610a290a52"
      Last-Modified:
      - Thu, 13 Mar 2025 07:37:33 GMT
      Link:
      - <http://repos.ecosyste.ms/api/v1/hosts/GitHub/repositories/rails/rails/tags?page=1&per_page=100>;
        rel="first", <http://repos.ecosyste.ms/api/v1/hosts/GitHub/repositories/rails/rails/tags?page=2&per_page=100>;
        rel="next"
      Current-Page:
      - '1'
      Page-Items:
      - '100'
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"v8.0.2","sha":"3235827585d87661942c91bc81f64f56d710f0b2","kind":"tag","published_at":"2025-03-12T02:54:11.000Z","download_url":"https://codeload.github.com/rails/rails/tar.gz/v8.0.2","html_url":"https://github.com/rails/rails/releases/tag/v8.0.2","dependencies_parsed_at":null,"dependency_job_id":null,"purl":"pkg:github/rails/rails@v8.0.2","tag_url":"https://repos.ecosyste.ms/api/v1/hosts/GitHub/repositories/rails%2Frails/tags/v8.0.2","manifests_url":"https://repos.ecosyste.ms/api/v1/hosts/GitHub/repositories/rails%2Frails/tags/v8.0.2/manifests"},{"name":"v8.0.1","sha":"cf6ff17e9a3c6c1139040b519a341f55f0be16cf","kind":"tag","published_at":"2024-12-13T19:54:18.000Z","download_url":"https://codeload.github.com/rails/rails/tar.gz/v8.0.1","html_url":"https://github.com/rails/rails/releases/tag/v8.0.1","dependencies_parsed_at":null,"dependency_job_id":null,"purl":"pkg:github/rails/rails@v8.0.1","tag_url":"https://repos.ecosyste.ms/api/v1/hosts/Gi[...]
[...]
- request:
    method: get
    uri: https://repos.ecosyste.ms/api/v1/hosts/GitHub/repositories/rails/rails/tags?page=7
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f5736d7346f4fac1a550af8000d185fc"
      Link:
      - <http://repos.ecosyste.ms/api/v1/hosts/GitHub/repositories/rails/rails/tags?page=1&per_page=100>;
        rel="first"
      Current-Page:
      - '7'
      Page-Items:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: "[]"
  recorded_at: Mon, 28 Jul 2025 11:39:50 GMT
recorded_with: VCR 6.3.1
