<div class="project-header purple-grad-bg  mb-5 pt-4 pb-4">
  <div class="container">
    <div class="row">
      <% if @project.avatar_url.present? %>
      <div class="col-md-1 mb-3 pt-3">
        <img src="<%= @project.avatar_url %>" alt="<%= @project.to_s %> logo" class="img-fluid project-logo" onerror="this.style.display='none'" />
      </div>
      <% end %>
      <div class="col-md-11">
        <h1 class="display-1 extra-bold"><%= @project.to_s %></h1>
        <% if @project.last_synced_at %>
          <p><%= @project.description %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>