<div class="project-header purple-grad-bg  mb-5 pt-4 pb-4">
  <div class="container">
    <div class="row">
      <% if @project.avatar_url.present? %>
      <div class="col-md-1 mb-3 pt-3">
        <img src="<%= @project.avatar_url %>" alt="<%= @project.to_s %> logo" class="img-fluid project-logo" onerror="this.style.display='none'" />
      </div>
      <% end %>
      <div class="col-md-11">
        <h1 class="display-1 extra-bold"><%= @project.to_s %></h1>
        <% if @project.last_synced_at %>
          <p><%= @project.description %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="dboard-collection-bar mb-5">
  <div class="container pb-4">
    <h2 class="h4 mb-3">Showing</h2>
    <div class="row">
      <div class="col">
        <span class="project-badge badge text-bg-light d-inline-flex align-items-center align-middle py-2 px-3 me-2 mb-2">
          <img src="https://github.com/octobox.png" height="24" width="24" class="me-2"/> 
          Octobox
        </span>
        <span class="project-badge badge text-bg-light d-inline-flex align-items-center align-middle py-2 px-3 me-2 mb-2">
          <img src="https://github.com/octobox.png" height="24" width="24" class="me-2"/> 
          Octobox
        </span>
        <span class="project-badge badge text-bg-light d-inline-flex align-items-center align-middle py-2 px-3 me-2 mb-2">
          <img src="https://github.com/octobox.png" height="24" width="24" class="me-2"/> 
          Octobox
        </span>
        <span class="project-badge badge text-bg-light d-inline-flex align-items-center align-middle py-2 px-3 me-2 mb-2">
          <img src="https://github.com/octobox.png" height="24" width="24" class="me-2"/> 
          Octobox
        </span>
        <span class="project-badge badge text-bg-light d-inline-flex align-items-center align-middle py-2 px-3 me-2 mb-2" >
          <img src="https://github.com/octobox.png" height="24" width="24" class="me-2"/> 
          Octobox
        </span>
        <a href="#" class="project-badge badge text-bg-light d-inline-flex align-items-center align-middle py-2 px-3 me-2 mb-2" style="min-height: 40px">
          and 253 more&hellip;
        </a>
      </div>
    </div>
  </div>
</div>