<% @meta_title = "#{@project}" %>
<% @meta_description = "Stats for #{@project}" %>

<%= render 'project_header' %>
<div class="container">

  <div class="dashboard-layout">
    <%= render 'nav' %>

    <div class="dashboard-layout__dboard">
      <h1 class="mb-4">Engagement </h1>
      <%= render 'date_nav' %>

      <div class="dashboard-grid">
      
      </div>
    </div>
  </div>
</div>