<% @meta_title = "Projects" %>
<% @meta_description = "Project dashboards" %>

<div class="container">
  <div class="well p-4 my-5">
    <div class="col-lg-10 container text-center">
      <form class="row g-2 justify-content-center" action='<%= lookup_projects_path %>' method="post">
        <label for="repo_name">Enter a github repository URL</label>
        <div class="input-group rounded-input-group mt-3 mb-4">
          <input name='url' type="text" class="form-control " id="url" placeholder="Eg. https://github.com/ecosyste-ms/packages" size="" >
          <button type="submit" class="btn  btn-danger pe-4">View dashboard</button>
        </div>
      </form>
    </div>
  </div>

  <%= render @projects %>
  <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>  

</div>