<% content_for :title, "Your Projects" %>

<div class="container">
  <div class="d-md-flex justify-content-between align-items-center mt-5 mb-2">
    <h1 class="my-4">Your projects</h1>
    <%= link_to new_project_path, class: "btn btn-primary rounded-pill" do %>
      <%= bootstrap_icon 'plus-circle', width: 16, height: 16, class: 'me-2' %>
      Add a new project
    <% end %>
  </div>

  <% if @user_projects.empty? %>
    <div class="text-center py-5">
      <p class="lead text-muted">You haven't added any projects yet.</p>
    </div>
  <% else %>
    <% @user_projects.each do |user_project| %>
      <%= render 'user_project', user_project: user_project %>
    <% end %>
  <% end %>
</div>