---
http_interactions:
- request:
    method: get
    uri: https://repos.ecosyste.ms/api/v1/hosts/GitHub/owners/rails/repositories?page=1&per_page=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1f1d4b7be339c90cfe5ad8d8db98bc92"
      Last-Modified:
      - Sun, 27 Jul 2025 06:44:31 GMT
      Link:
      - <http://repos.ecosyste.ms/api/v1/hosts/GitHub/owners/rails/repositories?page=1&per_page=10>;
        rel="first", <http://repos.ecosyste.ms/api/v1/hosts/GitHub/owners/rails/repositories?page=2&per_page=10>;
        rel="next"
      Current-Page:
      - '1'
      Page-Items:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":214635484,"uuid":"737018224","full_name":"rails/rubocop-rails-omakase","owner":"rails","description":"Omakase
        Ruby styling for Rails","archived":false,"fork":false,"pushed_at":"2025-05-21T04:18:33.000Z","size":26,"stargazers_count":517,"open_issues_count":1,"forks_count":23,"subscribers_count":18,"default_branch":"main","last_synced_at":"2025-07-28T14:13:00.091Z","etag":null,"topics":[],"latest_commit_sha":null,"homepage":null,"language":"Ruby","has_issues":true,"has_wiki":null,"has_pages":null,"mirror_url":null,"source_name":null,"license":null,"status":null,"scm":"git","pull_requests_enabled":true,"icon_url":"https://github.com/rails.png","metadata":{"files":{"readme":"README.md","changelog":null,"contributing":null,"funding":null,"license":null,"code_of_conduct":null,"threat_model":null,"audit":null,"citation":null,"codeowners":null,"security":null,"support":null,"governance":null,"roadmap":null,"authors":null,"dei":null,"publiccode":null,"codemeta":null}},"created_at":"2023-12-29T14:58:09.000Z","updated_at":"2025-07-27T06:44:31.000Z","dependencies_parsed_at":"2023-12-29T15:24:01.072Z","dependency_job_id":"1de849f9-0073-48e7-b038-36077bd8c5f4","html_url":"https://github.com/rails/rubocop-rails-omakase","commit_stats":{"total_commits":10,"total_committers":7,"mean_commits":"1.4285714285714286","dds":0.7,"last_synced_commit":"63a7608d668ea12f1a6d6bfabeb7d17d856a9641"},"previous_names":["rails/rubocop-rails-omakase"],"tags_count":2,"template":false,"template_full_name":null,"purl":"pkg:github/rails/rubocop-rails-omakase","repository_url":"https://repos.ecosyste.ms/api/v1/hosts/GitHub/repositories/rails%2Frubocop-rails-omakase","tags_url":"https://repos.ecosyste.ms/api/v1/hosts/GitHub/repositories/rails%2Frubocop-rails-omakase/tags","releases_url":"https://repos.ecosyste.ms/api/v1/hosts/GitHub/repositories/rails%2Frubocop-rails-omakase/releases","manifests_url":"https://repos.ecosyste.ms/api/v1/hosts/GitHub/repositories/rails%2Frubocop-rails-omakase/manifests","owner_url":"https://repos.ecosyste.ms/api/v1/hosts/GitHub/owners/rails","download_url":"https://codeload.github.com/rails/rubocop-rails-omakase/tar.gz/refs/heads/main","sbom_url":"https://repos.ecosyste.ms/api/v1/hosts/GitHub/repositories/rails%2Frubocop-rails-omakase/sbom"},{"id":56892619,"uuid":"403116117","full_name":"rails/rollupjs-rails","owner":"rails","description":"Bundle
        and transpile JavaScript in Rails with rollup.js","archived":true,"fork":false,"pushed_at":"2021-09-06T14:07:43.000Z","size":12,"stargazers_count":49,"open_issues_count":0,"forks_count":1,"subscribers_count":5,"default_branch":"main","last_synced_at":"2025-07-28T13:21:44.660Z","etag":nul[...]
[...]
- request:
    method: get
    uri: https://repos.ecosyste.ms/api/v1/hosts/GitHub/owners/rails/repositories?page=14&per_page=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e3b0c44298fc1c149afbf4c8996fb924"
      Link:
      - <http://repos.ecosyste.ms/api/v1/hosts/GitHub/owners/rails/repositories?page=1&per_page=10>;
        rel="first"
      Current-Page:
      - '14'
      Page-Items:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: "[]"
  recorded_at: Mon, 28 Jul 2025 14:14:33 GMT
recorded_with: VCR 6.3.1
