---
http_interactions:
- request:
    method: get
    uri: https://repos.ecosyste.ms/api/v1/hosts/GitHub/owners/testorg/repositories?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"68277f8537dc33b7c248b05ed292e636"
      Last-Modified:
      - Tue, 26 Mar 2024 17:56:46 GMT
      Link:
      - <http://repos.ecosyste.ms/api/v1/hosts/GitHub/owners/testorg/repositories?page=1&per_page=100>;
        rel="first"
      Current-Page:
      - '1'
      Page-Items:
      - '100'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":148595951,"uuid":"5745280","full_name":"testorg/publicrepo","owner":"testorg","description":null,"archived":false,"fork":false,"pushed_at":"2012-09-11T03:26:38.000Z","size":116,"stargazers_count":0,"open_issues_count":0,"forks_count":0,"subscribers_count":2,"default_branch":"master","last_synced_at":"2024-03-26T17:56:46.323Z","etag":null,"topics":[],"latest_commit_sha":null,"homepage":null,"language":"PHP","has_issues":true,"has_wiki":null,"has_pages":null,"mirror_url":null,"source_name":null,"license":null,"status":null,"scm":"git","pull_requests_enabled":true,"icon_url":"https://github.com/testorg.png","metadata":{"files":{"readme":"README.md","changelog":null,"contributing":null,"funding":null,"license":null,"code_of_conduct":null,"threat_model":null,"audit":null,"citation":null,"codeowners":null,"security":null,"support":null}},"created_at":"2012-09-10T05:30:27.000Z","updated_at":"2013-12-09T22:45:25.000Z","dependencies_parsed_at":"2023-03-29T04:28:51.260Z","dependency_job_id":null,"html_url":"https://github.com/testorg/publicrepo","commit_stats":null,"previous_names":[],"tags_count":0,"template":false,"template_full_name":null,"purl":"pkg:github/testorg/publicrepo","repository_url":"https://repos.ecosyste.ms/api/v1/hosts/GitHub/repositories/testorg%2Fpublicrepo","tags_url":"https://repos.ecosyste.ms/api/v1/hosts/GitHub/repositories/testorg%2Fpublicrepo/tags","releases_url":"https://repos.ecosyste.ms/api/v1/hosts/GitHub/repositories/testorg%2Fpublicrepo/releases","manifests_url":"https://repos.ecosyste.ms/api/v1/hosts/GitHub/repositories/testorg%2Fpublicrepo/manifests","owner_url":"https://repos.ecosyste.ms/api/v1/hosts/GitHub/owners/testorg","download_url":"https://codeload.github.com/testorg/publicrepo/tar.gz/refs/heads/master","sbom_url":"https://repos.ecosyste.ms/api/v1/hosts/GitHub/repositories/testorg%2Fpublicrepo/sbom"},{"id":4615701,"uuid":"5759417","full_name":"testorg/publicrepo2","owner":"testorg","description":null,"archived":false,"fork":false,"pushed_at":"2012-09-11T07:36:36.000Z","size":116,"stargazers_count":0,"open_issues_count":0,"forks_count":0,"subscribers_count":2,"default_branch":"master","last_synced_at":"2024-03-26T17:56:46.302Z","etag":null,"topics":[],"latest_commit_sha":null,"homepage":null,"language":nul[...]
- request:
    method: get
    uri: https://repos.ecosyste.ms/api/v1/hosts/GitHub/owners/testorg/repositories?page=2&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e3b0c44298fc1c149afbf4c8996fb924"
      Link:
      - <http://repos.ecosyste.ms/api/v1/hosts/GitHub/owners/testorg/repositories?page=1&per_page=100>;
        rel="first"
      Current-Page:
      - '2'
      Page-Items:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: "[]"
  recorded_at: Mon, 28 Jul 2025 11:40:39 GMT
recorded_with: VCR 6.3.1
