@import "ecosystems";

html {
  scroll-behavior: smooth;
}

.text-decoration-hover{
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}

.stat{
  small{
    font-size: 0.7em;
  }
  .info{
    position: absolute;
    top:0;
    right: 5px;
    color: #ccc;
  }
}

.glossary {
  :target {
    background-color: $color-purple-transparent;
    padding: 1rem 1.75rem 0;
    scroll-margin-top: 4rem; 
    transition: background-color 0.3s;
    color: $color-purple-dark;
    margin-bottom: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    & + p {
      background-color: $color-purple-transparent;
      border-bottom: 3px solid $color-purple;
      padding: 0.5rem 1.75rem 1.5rem;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  }
}